PyYAML==6.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
numpy==1.24.2
pandas==1.5.3
pip==21.1.1
python-dateutil==2.8.2==2.9.0.post0
python-dotenv==1.0.1
pytz==2023.3
requests==2.32.3
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.8
setuptools==56.0.0
six==1.16.0
urllib3==2.2.2